{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">밀집도 정보등록</h5>
    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류 표시 Start-->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류 표시 End -->
        <div class="form-group">
            <label for="wname"><strong>이용자 :</strong></label>
            <input type="text" class="form-control" name="wname" id="wname"
                value="{{ form.wname.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="wplace"><strong>지역 :</strong></label>
            <textarea class="form-control" name="wplace" id="wplace"
                      rows="1">{{ form.wplace.value|default_if_none:'' }}</textarea>
        </div>
        <div class="form-group">
            <label for="port"><strong>건물명 :</strong></label>
            <textarea class="form-control" name="port" id="port"
                      rows="1">{{ form.port.value|default_if_none:'' }}</textarea>
        </div>
        <div class="form-inline">
            <label for="upload_imgfile" class="col-sm-offset-2 col-form-label">
                <strong>이미지 등록 :</strong></label>
            <input type="file" name="upload_imgfile" id="upload_imgfile"
                   style="padding-left: 10px;">
        </div>
        <button type="submit" class="btn btn-primary"
                style="background-color:#02075D; color:#ffffff;
                margin-block: 15px;">정보 저장</button>
    </form>
</div>
{% endblock %}