/* textarea {
    width:100%;
}
h1 {
    font-weight: bold;
}
#text1 {
    font-size:25px;
    color : red;
}
#text2 {
    font-size:25px;
    color : blue;
}
#text3 {
    font-size:25px;
    color : green;
}
input[type=submit] {
    margin-top:10px;
} */